<!DOCTYPE html>
<html lang="es">
    <head> 
        <%-include('templates/head')-%>
    </head>
    <body>
        
        <header>
            <%-include('templates/header')-%>
        </header>

         <!--MAIN------------------------------------->
         <main>
            <div class="container container-1">
                <div class="row primera-fila">
                    <div class="col-lg-6 col-md-12 col-sm-12 texto fila-1">
                        <div class="titulo-nota">
                            <h1>Proyecto Remember</h1>
                            <p>Esta surge de un proyecto escolar semidefinido en el segundo cuatrimestre en la materia de metodologías y modelado de desarrollo de software, del cual también derivaba de la materia de diseño digital con el fin de poder hacer un diseño y una maquetación del software a realizar, esta empresa surge en Enero del presente año principalmente con el fin de hacer una aplicación de notas diferentes al resto. El nombre Remember proviene de la palabra "recordar", que es una de las principales características de nuestra aplicación.
                            </p>
                            
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 imagen-nota fila-1">
                        <img src="../static/images/index/Logo.png" alt="">
                    </div>
                </div>
            </div>

            <div class="container container-2">
                <div class="row segunda-fila">
                    <div class="col-lg-4 col-md-4 col-sm-12 valores">
                        <div>
                            <h1>Misión</h1>
                            <p>La misión de Remember es convertirse en un líder reconocido en la toma de notas para proporcionar la mayor comodidad en la creación de notas y organización personal a sus usuarios.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 valores">
                        <div>
                            <h1>Visión</h1>
                            <p>Nuestra visión es desarrollar una aplicación llamativa, concisa y fácil de utilizar, que sea reconocible y funcional para nuestros usuarios, también que pueda ser personalizable al gusto del usuario para enfocarlo a una necesidad en específico.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 valores">
                        <div>
                            <h1>Valores</h1>
                            <ul>
                                <li>Paciencia</li>
                                <li>Respeto</li>
                                <li>Disciplina</li>
                                <li>Aprender</li>
                                <li>Perseverancia</li>
                                <li>Responsabilidad</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container container-3">
                <div class="row tercera-fila">
                    <div class="col-12">
                        <div class="texto-tercera-fila">
                            <h1>Equipo de desarrolladores</h1>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="imagen-tercera-fila">
                            <img src="../static/images/acerca-de/orgaigrama.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!--FOOTER-------------------------------------->
        <footer>
            <%-include('templates/footer')-%>
        </footer>

        <%-include('templates/end')-%>

    </body>
</html>