<!DOCTYPE html>
<html lang="es">
    <head>
        <%-include('templates/head')-%>
    </head>
    <body>
        <header>
            <%-include('templates/header')-%>
        </header>

        <!--MAIN------------------------------------->
        <main>
            <div class="container container-1">
                <div class="row primera-fila" >
                    <div class="col-lg-6 col-md-12 col-sm-12 texto fila-1">
                        <div class="titulo-nota">
                            <h1>Toma notas con facilidad</h1>
                            <p>Manten tus notas simples y claras para cualquier situación , en Remember te ayudamos a hacerlo, te ayudamos a recordar tus deberes.</p>
                            <a href="/registro" class="boton-azul">Registrarse</a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 imagen-nota fila-1">
                        <img src="../static/images/index/nota.png" alt="">
                    </div>
                </div>
            </div>

            <div class="container container-2">
                <div class="row segunda-fila">
                    <div class="col-lg-6">
                        <div class="texto-segunda-fila">
                            <h1>Contamos con sistema de recordatorios</h1>
                            <p>Con este sistema puedes recordar todo lo que hayas escrito en tus notas, puedes personalizar el tiempo y la fecha.</p>
                        </div>                        
                    </div>

                    <div class="col-lg-6">
                        <div class="imagen-segunda-fila">
                            <img src="../static/images/index/recordatorios.JPG" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container container-3">
                <div class="row tercera-fila">
                    <div class="col-12">
                        <div class="texto-tercera-fila">
                            <h1>Personaliza tus notas!!</h1>
                            <p>Personaliza el color de tus notas para tener un mejor ambiente y emoción.</p>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="imagen-tercera-fila">
                            <img src="../static/images/index/personalizacion-notas.JPG" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!--FOOTER-------------------------------------->
        <footer>
            <%-include('templates/footer')-%>
        </footer>

        <%-include('templates/end')-%>
    </body>
</html>