<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../static/images/logoV.png" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/sign.css">
        <title>Remember - Insertar</title>
    </head>
    <body>
        <div class="fondo">
            <div class="contenido">
                <a id="back-button" href="/usuario/administrador">&lt;</a>
                <div class="formulario">
                    <br>
                    <%if(mensaje!=null){%>
                        <span class="siVisible" id="spanMensaje"><%=mensaje%></span>
                    <%}%>
                    <form action="/usuario/insertar-usuario-administrador" method="post" name="myForm" onsubmit="return validate();">
                        <div id="form-container">
                            <div class="flex-column">
                                <input type="text" placeholder="Nombre(s)" name="nombre" id="Nombre">
                                <span class="noVisible" id="spanNombre">Ingrese su nombre(s)</span>

                                <input type="text" placeholder="Usuario" name="usuario" id="Usuario">
                                <span class="noVisible" id="spanUsuario">Ingrese un usuario</span>

                                <input type="email" placeholder="Dirección Email" name="email" id="Email">
                                <span class="noVisible" id="spanEmail">Ingrese su email</span>

                                <input type="password" placeholder="Crea una contraseña" name="password" id="Password">
                                <span class="noVisible" id="spanPassword">Ingrese su contraseña</span>
                                
                                <div style="display: flex; justify-content: space-around;">
                                    <input type="radio" name="rol" id="Admin" value="1">
                                    <label for="Admin">Administrador</label>
                                    <input type="radio" name="rol" id="User" checked="true" value="2">
                                    <label for="User">Usuario</label>
                                </div>

                                <input class="button btn-insertar" type="submit" value="Insertar"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>